*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

img {
  height: auto;
  /*  清除圖片下方的空間  */
  vertical-align: middle;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.mb-24 {
  margin-bottom: 24px;
}
.mx-20 {
  margin: 0px 20px;
}

.text h2 {
  font-size: 20px;
  line-height: 1.2;
}

.ad {
  padding-bottom: 24px;
}

.text-center {
  text-align: center;
}
.footer-bg {
  background: lightgray;
}
.px-48 {
  padding: 48px 0px;
}
