*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  /*  清除圖片下方的空間  */
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.w-80 {
  width: 80px;
}
.w-48 {
  width: 48px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.inline-block {
  display: inline-block;
}

.gap-64 {
  gap: 64px;
}
.gap-48 {
  gap: 48px;
}
.gap-32 {
  gap: 32px;
}
.gap-22 {
  gap: 22px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pt-48 {
  padding-top: 48px;
}

.mb-32 {
  margin-bottom: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}

.text-36 {
  font-size: 36px;
}
.text-20 {
  font-size: 20px;
}

.text-white {
  color: #ffffff;
}

.text-right {
  text-align: right;
}
.text-certer {
  text-align: center;
}

.bg-red {
  background: #aa0601;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }

  .media-menu {
    gap: 16px;
  }

  .media-item {
    width: 40px;
    height: auto;
  }

  .hr {
    margin-left: 36px;
    margin-right: 36px;
  }

  .terms {
    margin-bottom: 40px;
  }
}
