*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  line-height: 1.5;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  /*  清除圖片下方的空間  */
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.w-80 {
  width: 80px;
}
.w-48 {
  width: 48px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.gap-64 {
  gap: 64px;
}
.gap-48 {
  gap: 48px;
}
.gap-32 {
  gap: 32px;
}
.gap-22 {
  gap: 22px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pt-48 {
  padding-top: 48px;
}

.mb-32 {
  margin-bottom: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}

.text-36 {
  font-size: 36px;
}
.text-20 {
  font-size: 20px;
}

.text-white {
  color: #ffffff;
}

.text-right {
  text-align: right;
}
.text-certer {
  text-align: center;
}

.bg-red {
  background: #aa0601;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }

  .media-menu {
    gap: 16px;
  }

  .media-item {
    width: 40px;
    height: auto;
  }

  .hr {
    margin-left: 36px;
    margin-right: 36px;
  }

  .terms {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
    padding-left: 13px;
    padding-right: 14px;
  }
  .logo-image {
    align-self: flex-start;
    padding-left: 15px;
    padding-bottom: 16px;
  }
  .nav-container {
    flex-direction: column;
    align-items: normal;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-menu {
    gap: 0;
  }
  .md-flex-wrap {
    flex-wrap: wrap;
  }

  .md-pb-0 {
    padding-bottom: 0;
  }

  .md-w50 {
    width: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border: 1px #ffffff solid;
  }

  .media-menu {
    gap: 8px;
  }

  .media-item {
    width: 24px;
    height: auto;
  }

  .hr {
    margin-left: 13px;
    margin-right: 14px;
  }

  .md-mb-20 {
    margin-bottom: 20px;
  }

  .md-gap-11 {
    gap: 11px;
  }

  .contact-image {
    width: 20px;
  }

  .hidden {
    display: none;
  }

  .md-text-16 {
    font-size: 16px;
  }

  .md-flex-col {
    flex-direction: column;
  }

  .terms {
    justify-content: normal;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .footer-md-flex {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .md-pt-0 {
    padding-top: 0px;
  }

  .md-pt-24 {
    padding-top: 24px;
  }
}
